*.pyc
.ipynb_checkpoints
lib/build
data/cache/*
data/CS674
data/faster_rcnn_models/
lib/datasets/CarFaceTest.py
lib/datasets/detection674.py
lib/datasets/factory_imagenet.py
lib/datasets/imagenet.py
lib/datasets/kakou.py
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
output/*